.col {
  width: 18.5%;
  height: 500px;
  border: solid rgb(253, 250, 250) 2px;
  background-color: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 124, 1) 100%);
  color: white;
  float: left;
  padding: 5px;
  border-radius: 50px 5px;
}
.col1{
  padding-left: 20px;

}
.col7{
  padding-left: 20px;
}
img {
  width: 100%;
  height: 200px;
}

h1 {
  font-size: 72px;
  font-style: italic;
}

.b1 {
  text-align: center;
}

.b {
  text-align: center;
}

#a2 {
  width: 100%;
  height: 30px;
  text-align: center;

  color: aliceblue;
  padding-bottom: 10px;
  background: rgb(101,106,255);
background: linear-gradient(90deg, rgba(101,106,255,1) 0%, rgba(248,16,63,1) 100%);
}
body{
  background: rgb(101,106,255);
  background: linear-gradient(90deg, rgba(101,106,255,1) 0%, rgba(248,16,63,1) 100%);}